#myName {
  font-size: 40px;
  text-align: right;
  padding: 5px;
  font-family: "Quicksand", sans-serif;
  text-shadow: 2px 2px black;
  color: white;
}

#portBtn {
  text-align: right;
  color: silver;
  text-shadow: 2px 2px black;
}

.Link {
  font-size: 35px;
}
