.image {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    width: 100%;
}

.image h1 {
    color: white;
    text-align: left;
    padding: 10px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    width: 600px;
}

.image p {
    color: black;
    font-family: 'Tajawal', sans-serif;
    padding: 10px;
    margin: 15px;
    font-size: 15px;
}

#aboutbox {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 600px;
}

.image li {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
  }
  
.image ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

.image .me {
    width: 350px;
    height: 430px;
    margin: 15px;
    padding: 10px;
}